/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-weight: var(--font-weight-regular);
  background-image:
    repeating-linear-gradient(to right, #d3d3d3 2px, transparent 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 2px, transparent 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  background-size: cover;
  margin: 100px auto;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--width-page);
  padding: clamp(7.625rem, 7.4489rem + 0.7512vw, 8.125rem)
    clamp(1rem, -1.3438rem + 10vw, 7.65625rem);
  margin: 100px auto 98px auto;
  background-color: #fff;
  border: 2px solid var(--accent-color);
  text-transform: uppercase;
  font-family: var(--accent-font);
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-bottom: 20px;
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.card {
  width: var(--width-page);
  border: 2px solid var(--accent-color);
  background-color: #fff;
  margin: 0 auto 50px;
  font-size: 18px;
}

.card__header {
  padding: 4px 10px;
  font-weight: 715;
  font-size: 18px;
}

.picture__container {
  position: relative;
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}

.card__image {
  inline-size: 100%;
  block-size: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.img__label {
  font-family: var(--accent-font);
  position: absolute;
  right: 25px;
  top: 25px;
  text-transform: uppercase;
  opacity: 50%;
  font-size: 14px;
  text-shadow:
    -1px 0 var(--text-border__color),
    0 1px var(--text-border__color),
    1px 0 var(--text-border__color),
    0 -1px var(--text-border__color);
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--text-border__color)) or
    (-webkit-text-stroke: 1px var(--text-border__color))
) {
  .img__label {
    -webkit-text-stroke: 1px var(--text-border__color);
    text-stroke: 1px var(--text-border__color);
    text-shadow: none;
  }
}

.card__container {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  line-height: 21px;
}

.button__container {
  display: flex;
  gap: 12px;
  justify-content: end;
  align-items: center;
  padding: 0 25px 25px 25px;
}

.button {
  position: relative;
  cursor: pointer;
  font-size: 14px;
  font-family: var(--accent-font), sans-serif;
  border: 2px solid var(--accent-color);
  transition: box-shadow 0.3s ease;
  overflow: hidden;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0 0;
  display: block;
  background-color: var(--accent-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: translateX(0);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px var(--accent-color);
}

.card__like-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12.5px 37px;
  max-width: 130px;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 1px 0;
  border: 2px solid transparent;
  border-radius: 0;
  transition: border-color 0.3s ease;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}
.filter-greyscale {
  filter: grayscale(0.8);
}

.filter-saturate {
  filter: saturate(300%);
}

.filter-hue-rotate {
  filter: hue-rotate(90deg);
}

.filter-sepia {
  filter: sepia(90%);
}

.filter-invert {
  filter: invert(0.7);
}

.filter-blur {
  filter: blur(7px);
}

.filter-contrast {
  filter: contrast(180%);
}

.filter-combo {
  filter: blur(1px) contrast(190%) saturate(200%) hue-rotate(-180deg);
}

.button__text {
  position: relative;
  color: #fff;
  mix-blend-mode: difference;
  z-index: 1;
  line-height: 90%;
}

.like-icon {
  transform-origin: center;
}

.heart {
  transform-origin: center;
}

.contour {
  transition: fill 0.1s linear;
}

.main-body {
  color: transparent;
  transition: fill 0.3s linear;
}

.core {
  color: transparent;
  transition: fill 0.3s linear 0.03s;
}

.sparks {
  opacity: 0;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition-delay: 0;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition-delay: 0;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition-delay: 0.06s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition-delay: 0;
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s 0.3s ease-in;
}

.like-icon.is-liked .sparks {
  animation: sparking 0.3s 0.3s ease-in;
}

.save__button {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  inline-size: clamp(19.125rem, 18.4868rem + 2.723vw, 20.9375rem);
  block-size: 55px;
  border-radius: 0;
}

.save__button-icon {
  max-inline-size: 21px;
  max-block-size: 21px;
  color: #fff;
  mix-blend-mode: difference;
}

.modal[open] {
  display: grid;
  grid-template-columns: 50px 234px;
  column-gap: 15px;
  row-gap: 30px;
  padding: 30px;
}

.modal[open]::backdrop {
  background-color: #000;
  opacity: 75%;
}

.modal__icon {
  width: 39px;
  height: 39px;
  align-self: center;
}

.modal__text {
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.modal__button {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1/3;
  padding: 12.5px 132.5px;
}

body::after {
  content: "";
  display: block;
  height: 100px;
}

@media (width <= 375px) {
  .save__button {
    flex-direction: column;
    gap: 8px;
  }

  .modal[open] {
    display: grid;
    grid-template-columns: 50px 200px;
    column-gap: 15px;
    row-gap: 30px;
    padding: 30px;
  }

  .modal__button {
    padding: 12.5px 116.5px;
  }
}
