/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-weight: var(--font-weight-regular);
  background-image:
    repeating-linear-gradient(to right, #d3d3d3 2px, transparent 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 2px, transparent 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  background-size: cover;
  margin: 100px auto;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--width-page);
  padding: clamp(7.625rem, 7.4489rem + 0.7512vw, 8.125rem)
    clamp(1rem, -1.3438rem + 10vw, 7.65625rem);
  margin: 100px auto 98px auto;
  background-color: #fff;
  border: 2px solid #000;
  text-transform: uppercase;
  font-family: var(--accent-font);
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-bottom: 20px;
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.card {
  width: var(--width-page);
  border: 2px solid #000;
  background-color: #fff;
  margin: 0 auto 50px;
  font-size: 18px;
}

.card__header {
  padding: 4px 10px;
  font-weight: 715;
  font-size: 18px;
}

.picture__container {
  position: relative;
}

.card__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.img__label {
  font-family: var(--accent-font);
  position: absolute;
  right: 25px;
  top: 25px;
  text-transform: uppercase;
  opacity: 50%;
  font-size: 14px;
  text-shadow:
    -1px 0 var(--text-border__color),
    0 1px var(--text-border__color),
    1px 0 var(--text-border__color),
    0 -1px var(--text-border__color);
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--text-border__color)) or
    (-webkit-text-stroke: 1px var(--text-border__color))
) {
  .img__label {
    -webkit-text-stroke: 1px var(--text-border__color);
    text-stroke: 1px var(--text-border__color);
    text-shadow: none;
  }
}

.card__container {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  line-height: 21px;
}

.button__container {
  display: flex;
  gap: 12px;
  justify-content: end;
  align-items: center;
  padding: 0 25px 25px 25px;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}

.card__like-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  padding: 12.5px 37px;
  max-width: 130px;
  border: 2px solid #000;
}

.button__text {
  line-height: 90%;
}
