/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  background-image:
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
    linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  background-size: cover;
  margin: 100px auto;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  font-variation-settings: "wght" var(--font-weight-regular);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--width-page);
  padding: clamp(7.625rem, 7.4489rem + 0.7512vw, 8.125rem)
    clamp(1rem, -1.3438rem + 10vw, 7.65625rem);
  margin: 100px auto 96px auto;
  background-color: #fff;
  border: 2px solid var(--accent-color, #000);
  text-transform: uppercase;
  font-family: var(--accent-font), fantasy;
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-bottom: 20px;
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.card {
  width: var(--width-page);
  border: 2px solid var(--accent-color, #000);
  background-color: #fff;
  margin: 0 auto 50px;
  font-size: 18px;
}

.card__header {
  padding: 5px 8px 2px 8px;
  font-weight: 715;
  font-size: 18px;
  letter-spacing: 0.3px;
}

.picture__container {
  position: relative;
  border-top: 2px solid var(--accent-color, #000);
  border-bottom: 2px solid var(--accent-color, #000);
}

.card__image {
  inline-size: 100%;
  block-size: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.img__label {
  font-family: var(--accent-font), fantasy;
  position: absolute;
  right: 25px;
  top: 25px;
  text-transform: uppercase;
  opacity: 50%;
  font-size: 14px;
  text-shadow:
    -1px 0 var(--text-border__color, #fff),
    0 1px var(--text-border__color, #fff),
    1px 0 var(--text-border__color, #fff),
    0 -1px var(--text-border__color, #fff);
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--text-border__color, #fff)) or
    (-webkit-text-stroke: 1px var(--text-border__color, #fff))
) {
  .img__label {
    -webkit-text-stroke: 1px var(--text-border__color, #fff);
    text-stroke: 1px var(--text-border__color, #fff);
    text-shadow: none;
  }
}

.card__container {
  padding: 22px 24px;
  display: flex;
  flex-direction: column;
  gap: 27px;
  line-height: 21px;
}

.button__container {
  display: flex;
  gap: 4px;
  justify-content: end;
  align-items: center;
  padding: 0 25px 25px 25px;
}

.button {
  background-color: #fff;
  position: relative;
  cursor: pointer;
  font-size: 14px;
  font-family: var(--accent-font), fantasy;
  border: 2px solid var(--accent-color, #000);
  transition: box-shadow 0.3s ease;
  overflow: hidden;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0 0;
  display: block;
  background-color: var(--accent-color, #000);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: translateX(0);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px var(--accent-color, #000);
}

.card__like-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11.5px 37px;
  max-width: 130px;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 0;
  transition: border-color 0.3s ease;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color, #000);
}
.filter-greyscale {
  filter: grayscale(0.8);
}

.filter-saturate {
  filter: saturate(300%);
}

.filter-sepia {
  filter: sepia(90%);
}

.filter-invert {
  filter: invert(0.7);
}

.filter-blur {
  filter: blur(7px);
}

.filter-contrast {
  filter: contrast(180%);
}

.filter-combo {
  filter: blur(1px) contrast(190%) saturate(200%) hue-rotate(-180deg);
}

.button__text {
  position: relative;
  color: #fff;
  mix-blend-mode: difference;
  z-index: 1;
  line-height: 90%;
}

.like-icon {
  transform-origin: center;
}

.heart {
  transform-origin: center;
}

.contour {
  transition: fill 0.1s linear;
}

.main-body {
  color: transparent;
  transition: fill 0.3s linear;
}

.core {
  color: transparent;
  transition: fill 0.3s linear 0.03s;
}

.sparks {
  opacity: 0;
}

.like-icon:hover .core {
  fill: var(--contour-color, #000);
  transition-delay: 0s;
}

.like-icon:hover .main-body {
  fill: var(--contour-color, #000);
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color, #ff0000);
  transition-delay: 0s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color, #ff0000);
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color, #ff0000);
  transition-delay: 0.06s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color, #ff0000);
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color, #ff0000);
  transition-delay: 0s;
}

.like-icon.is-liked {
  animation: heart-scale 0.3s 0.3s ease-in;
}

.like-icon.is-liked .sparks {
  animation: sparking 0.3s 0.3s ease-in;
}

.save__button {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  inline-size: clamp(19.125rem, 18.4868rem + 2.723vw, 20.9375rem);
  block-size: 55px;
  border-radius: 0;
}

.save__button-icon {
  color: #fff;
  mix-blend-mode: difference;
}

.modal[open] {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  padding: 0;
}

.modal-container {
  display: flex;
  flex-direction: column;
  gap: 29px;
  padding: 27px 34px 23px 26px;
}

.modal__info-container {
  display: flex;
  gap: 18px;
  max-width: 293px;
}

.floppy__container {
  display: flex;
  justify-content: start;
  align-items: center;
  width: auto;
}

.modal[open]::backdrop {
  background-color: #000;
  opacity: 75%;
}

.modal__icon {
  width: 39px;
  height: 39px;
}

.modal__text {
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-start;
  max-width: 234px;
}

.modal__button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 293px;
  padding: 10.5px 144.5px;
}

body::after {
  content: "";
  display: block;
  height: 100px;
}

@media (width <= 375px) {
  .more-margin {
    margin-bottom: 45px;
  }

  div.special-gap {
    gap: 40px;
  }

  div.special-gap2 {
    gap: 62px;
  }

  div.special-gap3 {
    gap: 21px;
  }

  div.special-gap4 {
    gap: 42px;
  }

  div.special-gap5 {
    gap: 42px;
  }

  .card__container {
    padding-top: 27px;
    padding-bottom: 25px;
    gap: 45px;
  }

  .save__button {
    flex-direction: column;
    gap: 8px;
    block-size: 83px;
  }

  .save__button-icon {
    width: 28px;
    height: 28px;
  }

  .modal[open] {
   max-width: 351px;
  }

  .modal-container {
    padding: 27px 0px 23px 40px;
  }

  .modal__button {
    padding: 10.5px 116.5px;
    max-width: 261px;
  }
}
