/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: 'Inter';
  --accent-font: 'PressStart2P';
  --font-weight-regular: 410;
  --font-weight-bold: 715;
  --width-page: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  --text-border__color: #fff;
  --accent-color: #000;
  --contour-color: #000;
  --animation-fill-color: #FF0000;
}